<nav class="nav navbar-light" id="custom-navbar">
	<button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navbar-contents" aria-label="Toggle navbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-contents">
		<ul class="nav flex-column">
			<li class="nav-item">
				<img loading="lazy" src="{% link /assets/img/profile.jpg %}" id="profile" alt="Profile picture">
			</li>
			{% assign pages = site.pages | sort: "nav_order" %}
			{% for item in pages %}
				{% if item.nav_include %}
					<li class="nav-item">
						<a class="p-1 nav-link" {% if item.url == page.url %}id="active-nav-link"{% endif %} href="{{ item.url }}" role="link" aria-label="{{ item.title }}">{{ item.title }}</a>
					</li>
				{% endif %}
			{% endfor %}
			<li class="nav-item">
				<a class="p-1 nav-link" href="https://github.com/Xeyler" role="link" aria-label="GitHub">
					<img style="position: relative; top: -2px;" src="{% link /assets/icon/github-logo.svg %}" alt="">
					GitHub
				</a>
			</li>
		</ul>
	</div>
</nav>
