<nav class="nav navbar-light" id="custom-navbar">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-contents">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-contents">
		<div class="nav flex-column">
			<li class="nav-item">
				<img src="/assets/img/profile.jpg">
			</li>
			<li class="nav-item">
				<a class="p-1 nav-link" href="https://www.google.com">Go To Google</a>
			</li>
			<li class="nav-item">
				<a class="p-1 nav-link" href="https://www.cheese.com">Cheese</a>
			</li>
		</div>
	</ul>
</nav>
