<nav class="nav navbar-light" id="custom-navbar">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-contents">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-contents">
		<div class="nav flex-column">
			<li class="nav-item">
				<a href="{% link index.html %}">
					<img id="profile" src="{% link /assets/img/profile.jpg %}">
				</a>
			</li>
			{% assign pages = site.pages | sort: "nav_order" %}
			{% for item in pages %}
				{% if item.nav_include %}
					<li class="nav-item">
						<a class="p-1 nav-link" {% if item.url == page.url %}id="active-nav-link"{% endif %} href="{{ item.url }}">{{ item.title }}</a>
					</li>
				{% endif %}
			{% endfor %}
			<li class="nav-item">
				<a class="p-1 nav-link" href="https://github.com/Xeyler">
					<img align="bottom" src="{% link /assets/img/github-logo.svg %}">
					GitHub
				</a>
			</li>
		</div>
	</ul>
</nav>
