#custom-navbar {
	@extend .navbar-expand-#{$navbar-stack-breakpoint};
	#profile {
		@extend .d-none;
		@extend .d-#{$navbar-stack-breakpoint}-block;
		width: 10vw;
		max-width: 150px;
		height: auto;
	}
	#active-nav-link {
		@extend .font-weight-bold;
		text-decoration: underline;
	}
	.navbar-toggler {
		margin-left: auto;
	}
}

@include media-breakpoint-up(#{$navbar-stack-breakpoint}) {
	#custom-navbar {
		padding-left: 25%;
	}

	#navbar-contents {
		position: fixed;
		width: auto;
	}

}

#page-contents {
	@extend .py-#{$navbar-stack-breakpoint}-5;
}

@include media-breakpoint-down(#{$navbar-stack-breakpoint}) {
	.custom-content-column {
		margin: auto;
		width: map-get($grid-breakpoints, md);
	}
}

.custom-navbar-column {
	@extend .col-#{$navbar-stack-breakpoint}-#{$navbar-size * $grid-columns};
}

.custom-content-column {
	@extend .col-#{$navbar-stack-breakpoint}-#{$grid-columns - ($navbar-size * 2 * $grid-columns)};
}

