$font-size-base: 1.1rem;

$link-color: #212529;
$link-hover-color: #4A4A4A;

$navbar-stack-breakpoint: "lg";
$navbar-size: 3 / 12; // Navbar column width

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
  	xl: 1200px,
  	xxl: 1400px
);

