---
# main scss file
# This liquid header ensures that the file is compiled to .css
---

body {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#nav {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	#profile {
		width: 10em;
	}
}

#main {
	flex-basis: 0;
	flex-grow: 8;
	max-width: 55%;
	align-items: center;
}

#spacer {
	flex-basis: 0;
	flex-grow: 1;
}
